nav{
    /* background-color: #0979e4; */
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    position: fixed;
    left: 0;
    right: 0;
}

.nav-items{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero{
background-image: url(../images/assets/asset1.jpeg);
height: 100vh;
background-size: cover;
display: flex;
justify-content: space-around;
align-items: center;
}

.hero-content{
    width: 80%;
}

.bio{
    inline-size: 60%;
}
.text-white {
    color: antiquewhite;
}

.text-bold {
    font-weight: bold;
}